.page ul, .page ol { padding: 0 0 0 1.5em }
.page li { margin: 0 0 0 1.5em; display: block; }
#writtensidebar li, .sidebar li { display: block; margin: 0px; }
.btn_secedit { float: right; }
.footermenu li { display: block; }
.header p { margin: 0px; }
/*#dokuwiki__content { margin-top: 12px !important; }*/
#dw__search button { margin-top: 1em; }
button { margin-top: 8px; margin-bottom: 8px; padding: 3px 8px;  }
.padhere { padding-top: 12px !important; }
#mediamanager__page .file { width: 70%; clear: both; }
#dw__toc { background-color: @ini_background_alt; padding: 8px; }
.page { line-height: 1.35em; }

#writtensidebar h1, .notify {
	/*height: 42px;*/
	background-image: url('images/@{ini_imagetheme}/content-subheaderback.png') !important;
	background-size: contain;
	color: @ini_textcolour;
	padding-top: 12px !important;
	padding-left: 1em !important;

	font-weight: normal;
	font-size: 16px;

	background-color: transparent !important;
	background-repeat: repeat !important;
	border: 0px !important;
	padding-bottom: 0px !important;
}
#writtensidebar h1 { min-height: 30px; }
.notify { min-height: 42px; }

.notify { margin-left: auto !important; margin-right: auto !important; 
	width: 97% !important;
	/*padding: 0px !important;*/
	box-sizing: border-box;
}


/*#writtensidebar li { margin: 0px; }*/

#writtensidebar li a {
	display: block;
	padding: 6px 0;
	/*padding-left: 9px;*/
	text-decoration: none;
	color: #dcdcdc;
	border-bottom: 0px solid @ini_menubordercolour2;
	border-left: 0px solid @ini_menubordercolour1;
  background-image: none;
}

#writtensidebar a:link, #writtensidebar a:visited { color: @ini_link; }
#writtensidebar a:hover { color: @ini_hoverbackcolour; text-decoration: underline; }
/*div.level1 { .padhere }*/

#writtensidebar li a:hover {
background-color: @ini_hoverbackcolour;
color: @ini_hovertextcolour;
border-left-color: @ini_menubordercolour1;
text-decoration: none;
}

#writtensidebar li .active {
background-color: @ini_menubordercolour1;
border-left-color: @ini_menubordercolour1;
cursor: default;
}

.dokuwiki ul.idx { padding-left: unset; }

@ini_media screen and (max-width: 850px) {
	.notify { padding-bottom: 12px !important; }
}


/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 50%; }

/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    max-width: 14em;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    width: unset;
    /*width: max-content;*/
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}

/* ------ */

/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  /*.page li, .page dd { margin: 1.35em 0px !important; display: block; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }

  #config__manager fieldset { width: 95%; box-sizing: border-box; }

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }

  .dokuwiki fieldset { width: unset; }
  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    max-width: 100%; 
    width: unset;
  }
}
